/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
body {
    padding: 20px;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(127, 213, 112, 0.6), 
        rgba(39, 179, 133, 0.6)),
        url(../img/hero.jpg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo {
    width: 80px;
}

.text-box {
    /* position/top/left - relative to the parent */
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Relative to element itself */
}

.hero-text {
    color: #fff;
    text-transform: uppercase;
}

.main-text {
    display: block;
    font-size: 60px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 35px;
    animation: fadeLeft .7s ease-out;
}

.sub-text {
    display: block;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: fadeRight .7s ease-out;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    80% {
        transform: translateX(-1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}