$primary-color: #28b485;
$secondary-color: #55c57a;
$tertiary-color: #7ed56f;

$contrast: #fff;

$alpha: .7;

/* Animations */
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    80% {
        transform: translateX(-1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeBottom {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

.fade {
    &-right {
        display: inline-block;
        animation: fadeRight 1s ease-out;
    }
    &-left {
        display: inline-block;
        animation: fadeLeft 1s ease-out;
    }
}
.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($tertiary-color, $alpha), 
        rgba($primary-color, $alpha)),
        url(../../img/hero.jpg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    
    > .logo {
        width: 6rem;
    }
}

.hero-box {
    /* position/top/left - relative to the parent */
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Relative to element itself */
    text-align: center;
    font-size: 15px;

    > .text {
        line-height: 1.5em;
        margin-bottom: 5rem;
        color: $contrast;
        text-transform: uppercase;

        &-main {
            display: block;
            font-size: 6rem;
            line-height: 8rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
        }

        &-sub {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.7rem;
        }
    }
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s ease-out;
}

.btn {
    &:hover {
        transform: translateY(-3px);
        transition: all .2s ease-out;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    }

    &:active {
        transform: translateY(-1px);
        transition: all .2s ease-out;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
  
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s ease-in;
    }

    &:hover::after {
        transform: scale(1.2, 1.4);
        opacity: 0;
    }

    &-white {
        background-color: $contrast;
        color: #777;
    }
    
    &-white::after {
        background-color: $contrast;
    }
    
    &-animated {
        animation: fadeBottom .5s ease-out .7s;
        animation-fill-mode: backwards;
    }
}