// Spacing
$small-padding: 3rem;
$default-padding: 6rem;
$large-padding: 9rem;

// Colors
$primary-color: #55c57a;
$primary-color-dark: #28b485;
$primary-color-light: #7ed56f;

$contrast: #fff;
$grey: #777;
$light-grey: #eee;
$black: #000;

$background-light: #f7f7f7;

// Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;