body {
    line-height: 110%rem;
    font-weight: 400;
    color: $grey;
}

.heading-h1 {
    @include font-heading;
    font-size: 4.2rem;
    @include gradient-text($primary-color-light, $primary-color-dark);
}

.heading-h2 {
    @include font-heading;
    font-size: 3.2rem;
    @include gradient-text($primary-color-light, $primary-color-dark);
}

.heading-h3 { @include font-heading;
    font-size: 1.8rem;
    color: $secondary-color;
}