body {
    line-height: 110%rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $grey;
}

.heading-primary {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: transparent;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    background-clip: text;
}