._hidden { display: none !important; }

._center { text-align: center !important; }

._margin { margin: $margin; }
._margin-small { margin: $margin-small; }
._margin-large { margin: $margin-large; }
._margin-none { margin: 0; }